:root {
    --font-stack: "Poppins", sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--font-stack);
    color: navy;
  }
  
  h2,
  h4,
  h5,
  h6
   {
    font-family: var(--font-stack);
    font-weight: bold;
    color: var(--base-color);
  }
  p{
    
  }
  

  
 